.close-btn {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 40px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  z-index: 1;
  transition: color 0.2s ease;
}

.close-btn:hover {
  color: red;
}