* {
    margin: 0;
    padding: 0;
    font-family: Georgia, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
 }

 section {
    background:url(../image/);
    background-size: cover;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
}

section h1 {
    font-family: Georgia;
    font-size: 100px;
    text-align: center;
    padding: 40px;
    margin-bottom: 10px;
}

section p {
    font-size: 25px;
    text-align: center;
    line-height: 1.2;
    padding: 10px 60px;
}